.window {
  

  display: flex;
  flex-direction: column;

  background-color: black;
  border-radius: 0.75rem;
  overflow: hidden;
  height: 100%;

  color: #a09e9e;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;


    font-weight: 500;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid  rgba(245, 245, 245, 0.274) ;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
      }

      .red {
        background-color: red;
        cursor: default;
      }
      .yellow {
        background-color: yellow;
      }
      .green {
        background-color: green;
      }
    }
  }

  .main-content{
  height: 100%;
  }

  .main-content{
        height: 100%;
    }


  *::-webkit-scrollbar{
    width: 8px;
  }


}
