.dock {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(97, 84, 84);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;

  backdrop-filter: blur(5px);



  .icon {
    padding: 0.65rem;
    border-radius: 0.5rem;
    // background: transparent;
    // background-color: rgb(116, 106, 106);
    // margin: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    width: 3.75rem;
  }
  .github,
  .cli {
    background-color: rgb(0, 0, 0);
  }

  .note{
    background:linear-gradient(to bottom,rgb(247, 182, 102),rgb(255,153,28))
  }

  .pdf{
    background:linear-gradient(to bottom,rgb(247, 90, 100),rgb(255,25,40))
  }

  .calender{
    background: linear-gradient(to bottom, rgb(113, 104, 246),rgb(66,52,255));
  }

  .spotify{
    background: linear-gradient(to bottom, rgb(22, 200, 78), rgb(6, 118, 42));
  }

    .mail{
    background: linear-gradient(to bottom, rgb(75, 104, 233), rgb(17, 17, 201));
  }

    .link{
    background: linear-gradient(to bottom, rgb(140, 37, 188), rgb(101, 14, 147));
  }

  




}
