nav {
  width: 100%;
  color: rgb(245, 240, 240);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  background-color: rgba(234, 225, 225, 0);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

.left,
.right {
    display: flex;
    gap: 1rem;
}
}
